<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
    <div class="container"></div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">Message</div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> CDVV Information</h3>
            <ul>
                <li>This <a href="/cdvv">CDVV Button</a></li>
            </ul>
        </div>
    </div>
    <div class="alert alert-info text-center" role="alert">Please</div>
</div>

</body>
</html>
